@media screen and (max-width: 1320px) {
  .person-about {
    left: 5%;
    padding: 20px;
  }
  .person-name,
  .person-about p,
  .person-social {
    margin-top: 0;
  }
  .person-name {
    font-size: 15px;
  }
  .person-name span {
    font-size: 13px;
  }
  .person-about p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1222px) {
  .about-block-logo img {
    padding-left: 0;
  }
  .about-block-logo {
    width: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .person-about {
    padding: 10px;
  }
  .person-name {
    font-size: 18px;
  }
  .person-name span {
    font-size: 14px;
  }
  .person {
    width: 47%;
  }
  .send,
  .adress {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .works-gallery img {
    width: 47%;
  }
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-title {
    padding-bottom: 50px;
  }
  .person-about {
    left: 0%;
    padding: 10px;
  }
  .person-name {
    font-size: 16px;
  }
  .person-about p {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .about-block-text {
    width: 100%;
  }
  header .container {
    text-align: center;
  }
  .person,
  .works-gallery img {
    width: 100%;
  }
  .person-about p {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .about-block-logo {
    display: none;
  }
  .container {
    width: 90%;
    max-width: 90%;
  }
  .header-title {
    font-size: 35px;
  }
}
